<include file="Public/header" />
<link rel="stylesheet" href="__PUBLIC__/css/goods_show.css">
<script type="text/javascript" src="__PUBLIC__/js/goods_show.js"></script>
<div class="forth-div">
    <div>
        <a><{:L('首页')}></a>
        <span>·</span>
        <a><{:L('媒体中心')}></a>
        <span>·</span>
        <a><{:L('视频广告')}></a>
    </div>
</div>
<style>
    .second-li-selected{background-color: red;}
    .second-a-selected{color: #fff;}
</style>
<div id="templatemo_wrapper">

    <div id="templatemo_main_content">
        <div id="templatemo_sidebar">
            <div class="sidebar_content_box" style="height:100px;">
                <h3 style="text-align:center;margin:25px 0 0 0;color:red;font-weight:bold;"><{:L('产品展示')}></h3>
                <h5 style="text-align:center;color:#35bf35;">BUSINESS PRODUCT</h5>
            </div>
            <div class="sidebar_content_box" style="background:#fff;padding:0;">
                <ul  style="padding:0;">
                    <li class="mouseover-li left-sub-menu" style="margin: 10px auto;"><a class="left-sub-menu-a" href="<{:U('Range/index')}>" ><{:L('业务范围')}></a></li>
                    <li style="height: 1px;background-color: #9FA0A1;"></li>
                    <li class="mouseover-li left-sub-menu" style="margin-bottom: 10px;margin-top: 10px;"><a class="left-sub-menu-a" href="<{:U('Goods/index')}>" style="color: red;"><{:L('产品展示')}></a></li>

                    <!--<li class="second-li"><a class="" href="#" ><{:L('衣帽')}></a></li>-->
                    <!--<li class="second-li second-li-selected"><a href="#" style="color: #fff;"><{:L('鞋靴')}></a></li>-->
                    <!--<li class="second-li"><a class="" href="#" ><{:L('防弹产品')}></a></li>-->
                    <!--<li class="second-li"><a class="" href="#" ><{:L('装具')}></a></li>-->
                    <!--<li class="second-li"><a class="" href="#" ><{:L('警用产品')}></a></li>-->
                    <!--<li class="second-li"><a class="" href="#" ><{:L('车辆及装备')}></a></li>-->

                    <volist name="category" id="cItem">
                        <if condition="$thisCpid eq $cItem['category_id']">
                            <li class="second-li second-li-selected"><a class="" href="<{:U('Goods/index',array('cpid'=>$cItem['category_id']))}>" style="color: #fff;"><{:L($cItem['category_name'])}></a></li>
                            <else/>
                            <li class="second-li"><a class="" href="<{:U('Goods/index',array('cpid'=>$cItem['category_id']))}>" ><{:L($cItem['category_name'])}></a></li>
                        </if>
                    </volist>
                </ul>
            </div>

        </div>

        <style>
            .products-middle-image-div{height: 30px;border-bottom: 1px solid #9d9e9f;}
            .products-middle-image-div-img{float: left;margin-left: 5px;border-radius: 20px;margin-top: 5px;}
            .products-middle-image-div-span1{float: left;margin-top: 7px;margin-left: 10px;font-size: 12px;}
            .products-middle-image-div-span2{float: right;margin-top: 7px;margin-right: 10px;font-size: 12px;}

            .goods-container{width:200px;float: left;margin:20px 0 20px 18px;border:1px solid #fff;}
            .goods-container:hover{border:1px solid #9d9e9f;}
            .goods-img{width: 200px;height: 220px;}
            .border-width{border-width:2px;}
        </style>


        <div id="templatemo_content" style="border:none;">
     
            <!--<div class="sidebar_content_box" style="height:100px;">-->
                <!--<h3 class="h3-content"><{:L('业务范围')}></h3>-->
            <!--</div>-->
            <div class="sidebar_content_box" style="height:100px;background-image: url(__PUBLIC__/images/goods-xiexue.png);">
                <div style="margin-top: 35px;margin-left: 50px;">
                    <div style="width: 25px;height: 25px;background-color: red;float: left;"></div>
                    <h3 style="float: left;color: red;margin-left: 20px;"><{:L($goodsInfo['category_name'])}></h3>
                </div>
            </div>

            <div class="" style="padding: 0;">

                <div class="preview">
                    <div id="vertical" class="bigImg">
                        <foreach name="goodsInfo.img" item="_img">
                            <img src="__PUBLIC__/goods/mid/<{$_img}>" width="400" height="400" alt="" id="midimg"/>
                        </foreach>
                        <div style="display:none;" id="winSelector"></div>
                    </div><!--bigImg end-->
                    <div class="smallImg">
                        <div class="scrollbutton smallImgUp disabled"></div>
                        <div id="imageMenu">
                            <ul>
                                <foreach name="goodsInfo.img" item="_img" key="sm">
                                    <if condition="sm eq 0">
                                        <li id="onlickImg"><img src="__PUBLIC__/goods/small/<{$_img}>" width="68" height="68" alt=""/></li>
                                        <else/>
                                        <li><img src="__PUBLIC__/goods/small/<{$_img}>" width="68" height="68" alt=""/></li>
                                    </if>
                                </foreach>
                                <!--<li id="onlickImg"><img src="__PUBLIC__/goods/small/05.jpg" width="68" height="68" alt=""/></li>-->
                                <!--<li><img src="__PUBLIC__/goods/small/02.jpg" width="68" height="68" alt=""/></li>-->
                                <!--<li><img src="__PUBLIC__/goods/small/03.jpg" width="68" height="68" alt=""/></li>-->
                                <!--<li><img src="__PUBLIC__/goods/small/04.jpg" width="68" height="68" alt=""/></li>-->
                                <!--<li><img src="__PUBLIC__/goods/small/01.jpg" width="68" height="68" alt=""/></li>-->
                            </ul>
                        </div>
                        <div class="scrollbutton smallImgDown"></div>
                    </div><!--smallImg end-->
                    <div id="bigView" style="display:none;">
                        <foreach name="goodsInfo.img" item="_img" key="bg">
                            <img width="800" height="800" alt="" src="__PUBLIC__/goods/big/<{$_img}>"/>
                        </foreach>
                    </div>
                </div>

                <div>
                    <div style="float: right;">
                        <img style="float: right;margin-top: 30px;margin-right: 10px;" src="__PUBLIC__/images/goodslogo.png" alt="">
                    </div>

                    <div style="float: left;margin-top: 70px;margin-left: 20px;width: 250px;">
                        <p style="font-size: 25px;font-weight: bold;color:red;"><{$goodsInfo.goods_code}></p>
                        <div style="float: left;width: 55px;height: 2px;background-color: red;margin-top: 10px;"></div>
                        <div style="float: left;width: 140px;height: 2px;background-color: gray;margin-top: 10px;"></div>
                        <div style="float: left;width: 55px;height: 2px;background-color: red;margin-top: 10px;"></div>
                    </div>
                    <div style="float: left;margin-top: 40px;margin-left: 20px;width: 250px;">
                        <p style="font-size: 24px;font-weight: bold;color:#717172;"><{$goodsInfo.goods_name}></p>
                        <div style="float: left;width: 55px;height: 2px;background-color: red;margin-top: 10px;"></div>
                        <div style="float: left;width: 140px;height: 2px;background-color: gray;margin-top: 10px;"></div>
                        <div style="float: left;width: 55px;height: 2px;background-color: red;margin-top: 10px;"></div>
                    </div>
                    <div style="float: left;margin-top: 30px;margin-left: 20px;width: 250px;">
                        <p style="font-size: 20px;font-weight: bold;color:#717172;"><{L('产品展示')}></p>
                        <div style="float: left;width: 55px;height: 2px;background-color: red;margin-top: 10px;"></div>
                        <div style="float: left;width: 140px;height: 2px;background-color: gray;margin-top: 10px;"></div>
                        <div style="float: left;width: 55px;height: 2px;background-color: red;margin-top: 10px;"></div>
                        <div style="margin-top: 30px;">
                            <{$goodsInfo.goods_intro}>
                            <!--F 型战地靴<br/>-->
                            <!--颜色：黑色、沙漠黄、<br/>-->
                            <!--尺码：41、41、43<br/>-->
                        </div>
                    </div>
                    <div style="clear:both;"></div>

                </div>
                <div style="margin-top: 20px;">
                    <div style="width: 100%;background: url(__PUBLIC__/images/goods-top.png);height: 37px;">
                        <p style="float: left;color:#07F900;font-size: 18px;margin-top: 8px;margin-left: 12px;"><{L('产品展示')}></p>
                    </div>
                    <{$goodsInfo.goods_description}>
                </div>



            </div>
        </div>	
        <div class="clear"></div>
    </div> <!-- END of templatemo_main_content -->

</div> <!-- END of templatemo_wrapper -->

<include file="Public/footer" />