<style>
    .foot-div{height:300px;min-width:1000px;background-image: url(__PUBLIC__/images/tb1.png);background-size:cover;padding-top: 80px;color:#FFF;}
    .foot-div-row{width: 980px;margin: 0 auto;}
    .foot-div-row>div{width: 300px;height: 75px;border:1px solid white;border-radius: 15px;float: left;margin-left: 20px;}
    .foot-div-row-a{text-align: center;}
    .foot-div-row-a>p{font-size: 40px;font-weight: bold;margin-top: 20px;color:red;}
    .foot-div-row-a>h5{font-size: 10px;margin-top: 13px;letter-spacing:-1px;color:#fff;}

    .foot-div-row-b{}
    .foot-div-row-b>img{float: left;width: 45px;height: 45px;margin-left: 55px;margin-top: 15px;}
    .foot-div-row-b>p{float: left;margin-left: 25px;margin-top: 20px;}
    .foot-div-row-c{}
    .foot-div-row-c>img{float: left;width: 45px;height: 45px;margin-left: 55px;margin-top: 15px;}
    .foot-div-row-c>p{float: left;margin-left: 10px;margin-top: 20px;width: 135px;}

    .foot-div-row2{width: 980px;margin: 0 auto;margin-top: 40px;}

    .foot-div-row2-div{width: 140px;float: left;margin-left: 50px;}
    .font-size-16{font-size: 16px;}
    .font-size-13{font-size: 13px;}
    .margin-bottom5{margin-bottom: 5px;}
    .margin-top7{margin-top: 7px;}
    .c-line-div{height: 3px;background-color: red;width:25px;float: left;}
    .x-line-div{height: 2px;background-color: gray;width:95px;float: left;margin-top: 1px;}
</style>

<div class="foot-div">
    <div class="foot-div-row">
        <div class="foot-div-row-a">
            <p >C X X C</p>
            <h5 >CHINA STATE OWNED MILITARY CORPORATION</h5>
        </div>
        <div class="foot-div-row-b">
            <img  src="__PUBLIC__/images/call43.png" alt="">
            <p >
                T: <{$contactInfo.phone1}><br/>
                F: <{$contactInfo.phone2}>
            </p>
        </div>
        <div class="foot-div-row-c">
            <img  src="__PUBLIC__/images/pointer10.png" alt="">
            <p >
                <{$contactInfo.contact_address}>
            </p>
        </div>
    </div>
    <div style="clear: both;"></div>

    <div class="foot-div-row2">
        <div class="foot-div-row2-div">
            <p class="font-size-16" ><{:L('关于我们')}></p>
            <div class="margin-top7" style="height:20px;">
                <div class="c-line-div" ></div>
                <div class="x-line-div" ></div>
            </div>
            <p class="font-size-13 margin-bottom5"><{:L('历史沿革')}></p>
            <p class="font-size-13 margin-bottom5"><{:L('公司简介')}></p>
            <p class="font-size-13 margin-bottom5"><{:L('企业荣誉')}></p>
        </div>
        <div class="foot-div-row2-div">
            <p class="font-size-16" ><{:L('媒体中心')}></p>
            <div class="margin-top7" style="height:20px;">
                <div class="c-line-div" ></div>
                <div class="x-line-div" ></div>
            </div>
            <p class="font-size-13 margin-bottom5"><{:L('视频广告')}></p>
        </div>
        <div class="foot-div-row2-div">
            <p class="font-size-16" ><{:L('业务产品')}></p>
            <div class="margin-top7" style="height:20px;">
                <div class="c-line-div" ></div>
                <div class="x-line-div" ></div>
            </div>
            <p class="font-size-13 margin-bottom5"><{:L('业务范围')}></p>
            <p class="font-size-13 margin-bottom5"><{:L('产品展示')}></p>
        </div>
        <div class="foot-div-row2-div">
            <p class="font-size-16" ><{:L('人才引进')}></p>
            <div class="margin-top7" style="height:20px;">
                <div class="c-line-div" ></div>
                <div class="x-line-div" ></div>
            </div>
            <p class="font-size-13 margin-bottom5"><{:L('招贤纳士')}></p>
        </div>
        <div class="foot-div-row2-div">
            <p class="font-size-16" ><{:L('联系我们')}></p>
            <div class="margin-top7" style="height:20px;">
                <div class="c-line-div" ></div>
                <div class="x-line-div" ></div>
            </div>
            <p class="font-size-13 margin-bottom5"><{:L('地理位置')}></p>
            <p class="font-size-13 margin-bottom5"><{:L('办公电话')}></p>
            <p class="font-size-13 margin-bottom5"><{:L('邮箱')}></p>
        </div>
    </div>
</div>


<div class="first-div" style="background-color: #646566;height:60px;">
    <div class="first-div-container">
        <div class="first-div-left">
            <h3 style="color: #3D3E3F;font-size: 16px;padding-top: 20px;text-align: center;">&copy; <{:L('版权')}></h3>
        </div>

    </div>
</div>








</body>
</html>