<!DOCTYPE html>
<html>
<head>
    <title>新兴进出口总公司</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <title>Universe, Website Template</title>
    <meta name="keywords" content="universe, black, website template, templatemo" />
    <meta name="description" content="Universe is free website template by templatemo.com for everyone." />
    <link href="__PUBLIC__/css/bootstrap.min.home.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/templatemo_style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/css/nivo-slider.css" type="text/css" media="screen" />

    <link rel="stylesheet" href="__PUBLIC__/css/lunbo.css">



    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.6.3.min.js" ></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery-ui.min.js" ></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#featured > ul").tabs({fx:{opacity: "toggle"}}).tabs("rotate", 5000, true);
        });
    </script>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/ddsmoothmenu.css" />

    <script type="text/javascript" src="__PUBLIC__/js/ddsmoothmenu.js"></script>

    <script type="text/javascript">

        ddsmoothmenu.init({
            mainmenuid: "templatemo_menu", //menu DIV id
            orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
            classname: 'ddsmoothmenu', //class added to menu's outer DIV
            customtheme: ["#fff", "#585859"],
            contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
        });

        ddsmoothmenu.init({
            mainmenuid: "templatemo_menu_goods", //menu DIV id
            orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
            classname: 'ddsmoothmenu-goods', //class added to menu's outer DIV
            customtheme: ["", "#585859"],
            contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
        })


    </script>

    <link rel="stylesheet" href="__PUBLIC__/css/slimbox2.css" type="text/css" media="screen" />
    <script type="text/JavaScript" src="__PUBLIC__/js/slimbox2.js"></script>
    <style>
        .span-dian{color:red;margin: 0 10px;font-size: 16px;}
        .goods-menu-ul>li>a{color:green;font-size: 20px;}

        .first-div{height:30px;min-width:1000px;background:#D4D4D4;}
        .first-div-container{width: 980px;margin: 0 auto;}
        .first-div-left>a{float:left;margin:6px 0 0 6px;text-decoration: none;color:#F29871;font-size: 12px;}
        .first-div-right{float:right;}
        .first-div-right>a{line-height: 30px;margin-right: 8px;}
        .first-div-right>select{margin-left: 8px;}

        .forth-div{height:35px;min-width:1000px;background:#D4D4D4;}
        .forth-div>div{width: 980px;margin: 0 auto;}
        .forth-div>div>a{text-decoration: none;line-height: 35px;color:#fff;font-size: 14px;}
        .forth-div>div>span{color:#fff;font-size: 16px;margin: 0 5px;}

        .news_container{height:850px;padding:30px;}
        .news-container-div:nth-child(even){height:130px;margin-top: 30px;background:#EEEFF0;}
        .news-container-div:nth-child(odd){height:130px;margin-top: 30px;background:#CFD5D5;}
        .news-image{float:left;}
        .news-content{float:left;width:500px;margin-left:2px;}
        .news-title{height:35px;padding-left: 15px;}
        .news-title-year{color:red;line-height:40px;font-size:18px;}
        .news-title-text{color:gray;line-height:35px;font-size:18px;margin-left:30px;}
        .new-line-gray{height: 1px;background-color: gray;width:400px;float: left}
        .new-line-red{height: 1px;background-color: red;width:100px;float: left;}
        .news-content-text{height:74px;font-size:16px;word-spacing:8px; letter-spacing: 2px;text-indent:2em;line-height:24px;padding: 10px;}

        .second-li{height: 28px;padding-left: 75px;line-height: 30px;}
        .second-li a{text-decoration:none;color:#98999A;}
    </style>

    <script>
        function turnToHome(){
            location.href = "<{:U('Index/index')}>";
        }
        function searchGoods(){
            var url = "<{:U('Goods/search')}>";
            var keyword = $('#search_input_text').val();
            location.href = url+"?keyword="+keyword;
        }

        $(function(){
            /**
             * 切换语言
             */
            $('#select-lang').change(function(){
                var data={'lang':$(this).val()};
                $.get("<{:U('Index/lang')}>",data,function(){
                    location.reload();
                })
            });
        });
    </script>
</head>
<body>
    <div class="first-div">
        <div class="first-div-container">
            <div class="first-div-left">
                <img style="margin-top:6px;float:left;" src="http://l.b2b168.com/2010/03/15/07/20100315074652393812.gif" height="18" alt="" />
                <a>CHINA STATE OWNED MILITARY CORPORATION</a>
            </div>
            <div class="first-div-right">
                <a style="text-decoration: none;color:#666;" href="<{:U('Index/index')}>">Home</a>
                <a ><{:L('当前语言')}></a> |

                <select name="" id="select-lang">
                    <option <if condition="cookie('lang_value') == 'cn'"> selected </if> value="cn">中文</option>
                    <option <if condition="cookie('lang_value') == 'en'"> selected </if> value="en">EngLish</option>
                    <option value="">EngLish</option>
                    <option value="">EngLish</option>
                </select>
            </div>
        </div>
    </div>
    <div style="height:70px;min-width:1000px;background:#FFF;padding-top:10px;">
        <div style="margin:0 auto;width:980px;">
            <img onclick="turnToHome()" src="__PUBLIC__/images/xinxinglogo.png" alt="" width="300"/>
              
            <div class="ddsmoothmenu" style="color:gray;float:right;" id="templatemo_menu">
                <ul>
                    <li><a href="<{:U('About/index')}>" <if condition="CONTROLLER_NAME eq 'About' "> class="selected" </if> style="padding-left: 10px;"><span></span><{:L('关于我们')}></a>
                        <ul>
                            <li><a href="<{:U('About/index')}>"><{:L('历史沿革')}></a></li>
                            <li><a href="<{:U('About/intro')}>"><{:L('公司简介')}></a></li>
                            <li><a href="<{:U('About/honor')}>"><{:L('企业荣誉')}></a></li>
                        </ul>
                    </li>

                    <li><a href="<{:U('Video/index')}>" <if condition="CONTROLLER_NAME eq 'Video' "> class="selected" </if>  ><span class="span-dian">·</span><{:L('媒体中心')}></a></li>
                    <li><a href="<{:U('Goods/index')}>" <if condition="CONTROLLER_NAME eq 'Goods' or CONTROLLER_NAME eq 'Range' "> class="selected" </if> ><span class="span-dian">·</span><{:L('业务产品')}></a>
                        <ul>
                            <li><a href="<{:U('Range/index')}>"><{:L('业务范围')}></a></li>
                            <li><a href="<{:U('Goods/index')}>"><{:L('产品展示')}></a></li>
                        </ul>
                    </li>
                    <li><a href="<{:U('Recruit/index')}>" <if condition="CONTROLLER_NAME eq 'Recruit' "> class="selected" </if> ><span class="span-dian">·</span><{:L('人才引进')}></a></li>
                    <li><a href="<{:U('Contact/index')}>" <if condition="CONTROLLER_NAME eq 'Contact' "> class="selected" </if> ><span class="span-dian">·</span><{:L('联系我们')}></a></li>
                </ul>
                <br style="clear: left" />
            </div>

        </div>
    </div>
    <div style="height:66px;min-width:1000px;background-image:url(__PUBLIC__/images/tb1.png);">
        <div  style="width:980px;margin:0 auto;">
            
            <div class="div-second-menu" id="templatemo_menu_goods">
                <ul>
                    <volist name="category" id="cItem">
                        <li><a href="<{:U('Goods/index',array('cpid'=>$cItem['category_id']))}>"><span></span><{:L($cItem['category_name'])}></a>

                            <if condition="$cItem['children']">
                                <ul>
                                    <foreach name="cItem.children" item="ccItem">
                                        <li><a href="<{:U('Goods/index',array('cid'=>$ccItem['category_id']))}>"><{$ccItem.category_name}></a></li>
                                    </foreach>
                                </ul>
                            </if>
                        </li>
                    </volist>
                    <!--<li><a href="index.html"><span></span><{:L('衣帽')}></a></li>-->
                    <!--<li><a href="blog.html"><span></span><{:L('鞋靴')}></a>-->
                        <!--<ul>-->
                            <!--<li><a href="blog.html">Category One</a></li>-->
                            <!--<li><a href="blog.html">Category Two</a></li>-->
                            <!--<li><a href="blog.html">Category Three</a></li>-->
                            <!--<li><a href="blog.html">Category Four</a></li>-->
                            <!--<li><a href="blog.html">Category Five</a></li>-->
                      <!--</ul>-->
                    <!--</li>-->
                    <!--<li><a href="gallery.html"><span></span><{:L('防弹产品')}></a>-->
                        <!--<ul>-->
                            <!--<li><a href="gallery.html">Page One</a></li>-->
                            <!--<li><a href="gallery.html">Page Two</a></li>-->
                            <!--<li><a href="gallery.html">Page Three</a></li>-->
                            <!--<li><a href="gallery.html">Page Four</a></li>-->
                            <!--<li><a href="gallery.html">Page Five</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li><a href="about.html"><span></span><{:L('装具')}></a></li>-->
                    <!--<li><a href="contact.html"><span></span><{:L('警用产品')}></a></li>-->
                    <!--<li><a href="contact.html"><span></span><{:L('车辆及装备')}></a></li>-->
                </ul>

                <img onclick="searchGoods()" style="float:right;margin-top:18px;" src="__PUBLIC__/images/search.png" alt="" width="30" height='30'/>
                <input style="float: right;margin-top: 18px;margin-right: 20px;height: 25px;border-radius: 15px;border: none;width: 200px;padding-left:20px;" type="text" name="" id="search_input_text" placeholder="<{:L('请输入产品关键字')}>" value="<{$Think.get.keyword}>"/>

                <br style="clear: left" />
            </div>


        </div>
    </div>

<center>
    <section id="rt-showcase-surround">
        <div id="rt-showcase" class="slider-container rt-overlay-dark" style="min-width: 1000px;">
            <div class="rt-container slider-container">
                <div class="rt-grid-12 rt-alpha rt-omega" style="line-height: 9px;">
                    
                    <!--[if IE]><link rel="stylesheet" href="__PUBLIC__/css/ie.css"><![endif]-->
                    <!--[if lte IE 9]><script type="text/javascript" src="__PUBLIC__/js/ie.js"></script><![endif]-->

                    <div class="csslider1 autoplay">
                        <input name="cs_anchor1" autocomplete="off" id="cs_slide1_0" type="radio" class="cs_anchor slide" >
                        <input name="cs_anchor1" autocomplete="off" id="cs_slide1_1" type="radio" class="cs_anchor slide" >
                        <input name="cs_anchor1" autocomplete="off" id="cs_slide1_2" type="radio" class="cs_anchor slide" >
                        <input name="cs_anchor1" autocomplete="off" id="cs_play1" type="radio" class="cs_anchor" checked>
                        <input name="cs_anchor1" autocomplete="off" id="cs_pause1" type="radio" class="cs_anchor" >
                        <ul>
                            <div style="width: 100%; visibility: hidden; font-size: 0px; line-height: 0;">
                                <img src="" style="width: 100%;" height='200'>
                            </div>
                            <foreach name="imageOther" item="item">
                                <li class="num<{$key}> img">
                                    <img src="<{$item.image_link}>" alt="Clouds" title="Clouds" height='200'/>
                                </li>
                            </foreach>
                        </ul>


                        <div class="cs_arrowprev">
                            <foreach name="imageOther" item="item">
                                <label class="num<{$key}>" for="cs_slide1_<{$key}>"></label>
                            </foreach>
                        </div>
                        <div class="cs_arrownext">
                            <foreach name="imageOther" item="item">
                                <label class="num<{$key}>" for="cs_slide1_<{$key}>"></label>
                            </foreach>
                        </div>
                        
                        <div class="cs_bullets">
                            <foreach name="imageOther" item="item">
                                <label class="num<{$key}>" for="cs_slide1_<{$key}>"><span class="cs_point"></span></label>
                            </foreach>
                        </div>
                        
                    </div>

                </div>
                <div class="clear"></div>
            </div>
        </div>
    </section>        <!-- /slider -->
    </center>

