<include file="Public/head" />

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">


                <div class="ibox-content">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">

                        <div class="row">
                            <!--  <div class="col-sm-6">
                                 <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                     <input placeholder="家庭地址/编号" id="search" type="input" class="form-control input-sm" aria-controls="DataTables_Table_0" value="<{$search}>">
                                     <button type="button" class="btn" style="margin: 0;" onclick="search_dataForm(this)">查找</button>
                                 </div>
                             </div> -->
                            <div class="col-sm-6">
                                <button id="btn_skip_target" class="btn btn-info" onclick="location.href = '<{:U(\'Recruit/add\')}>'">添加招聘信息</button>

                            </div>
                        </div>

                        <table class="table table-striped table-bordered table-hover dataTables-example dataTable no-footer">
                            <thead>
                            <tr role="row">
                                <!--<th style="background: transparent;" class="row-selected"><input class="check-all" type="checkbox"/></th>-->
                                <th class="sorting_desc">ID</th>
                                <th class="sorting">标题</th>
                                <th class="sorting">语言</th>
                                <th class="sorting">创建时间</th>
                                <!--<th class="sorting" onclick="family_sorting(this,'address','desc')">地址</th>-->
                                <!--<th class="sorting" onclick="family_sorting(this,'village_id','desc')">所属小区</th>-->

                                <th style="background: transparent;width:210px;" class="text-center">操作</th>

                            </tr>
                            </thead>

                            <tbody>

                            <volist name="_list" id="list">
                                <tr class="gradeX">
                                    <!--<td><input class="ids" type="checkbox" name="id[]" value="<{$list.family_id}>" /></td>-->
                                    <!--<td><{$i}></td>-->
                                    <td><{$list.recruit_id}></td>
                                    <td><{$list.recruit_title}></td>
                                    <td><{$list.lang_name}></td>
                                    <td><{$list.create_time|date="Y-m-d H:i",###}></td>
                                    <td>
                                        <a href="<{:U('Recruit/edit',array('groupId'=>$list['group_id']))}>" class="btn btn-primary" style="margin-bottom:0px;padding: 2px 9px;font-size:12px;">编辑</a>&nbsp;&nbsp;
                                        <a onclick="del(this)" rel-group="<{$list['group_id']}>" class="btn btn-primary" style="margin-bottom:0px;padding: 2px 9px;font-size:12px;">删除</a>&nbsp;&nbsp;
                                        <!--<a href="<{:U('Recruit/revoke',array('recruit_id'=>$list['recruit_id']))}>" class="btn btn-primary" style="margin-bottom:0px;padding: 2px 9px;font-size:12px;">撤销</a>&nbsp;&nbsp;-->
                                        <!--<a href="<{:U('Recruit/publish',array('recruit_id'=>$list['recruit_id']))}>" class="btn btn-primary" style="margin-bottom:0px;padding: 2px 9px;font-size:12px;">发布</a>&nbsp;&nbsp;-->
                                    </td>
                                </tr>
                            </volist>

                            </tbody>
                            <tfoot></tfoot>
                        </table>
                        <div class="col-sm-2">每页
                            <select onchange="changePagesNum(this)"  name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-control">
                                <option <eq name="size" value="10">selected</eq> value="10">10</option>
                                <option <eq name="size" value="25">selected</eq> value="25">25</option>
                                <option <eq name="size" value="50">selected</eq> value="50">50</option>
                                <option <eq name="size" value="100">selected</eq> value="100">100</option>
                            </select> 条
                        </div>
                        <div id="page">
                            <{$page}>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<include file="Public/foot" />

<script>
    function del(_this){
        var group_id = $(_this).attr('rel-group');
        bootbox.setLocale("zh_CN");
        bootbox.confirm("确认要删除该条记录吗？", function(result){
            if(result){
                $.ajax({
                    url:"<{:U('Recruit/del')}>",
                    dataType:'json',
                    type:'post',
                    data:{group_id : group_id},
                    success:function(data){
                        if(data.status == 1){
                            bootbox.alert({
                                message: data.msg,
                                buttons: {
                                    ok: {
                                        label: " 确 定 ",
                                        className: "btn-primary btn-sm",
                                    }
                                }
                            });
                            window.location.href = "<{:U('Recruit/index')}>";
                        }else{
                            bootbox.alert({
                                message: data.msg,
                                buttons: {
                                    ok: {
                                        label: " 确 定 ",
                                        className: "btn-primary btn-sm",
                                    }
                                }
                            });
                        }
                    }
                })
            }
        })
    }
</script>



