<include file="Public/head" />
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12  ">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>编辑视频</h5>
                </div>
                <volist name="rInfo" id="item" key="kkey">
                    <form class="form-horizontal m-t content-form"  method="post" <if condition="$item.video_title eq ''">style="display:none;"</if> >
                    <div class="ibox-content">
                        <div class="form-group">
                            <label style="float: left;color:red;">第<{$key+1}>组</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">名称：</label>
                            <div class="col-sm-9">
                                <input name="form[<{$key}>][title]" class="form-control input-title" type="text" value="<{$item.video_title}>">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">视频：</label>
                            <if condition="$item['choose'] eq 1">
                                <input type="radio" name="form[<{$key}>][choose]" rel="link" value="1" class="choose" checked="checked">视频链接
                                <input type="radio" name="form[<{$key}>][choose]" rel="up" value="2" class="choose">本地上传
                                <div class="col-sm-9" style="margin-top: 10px;">
                                    <textarea name="form[<{$key}>][link]" style="width: 100%;height: 60px;border: 1px solid #e5e6e7;" >
                                        <{$item.video_link}>
                                    </textarea>
                                </div>
                                <div class="col-sm-9" style="margin-top: 10px;display: none;">
                                    <input type="hidden" name="form[<{$key}>][up]" id="form_<{$key}>">
                                    <input type="file" id="upload_img_<{$key}>" name="res" multiple />
                                    <div id="content_picts_preview_<{$key}>" style="display: none;">
                                        <span><{$item.video_link}></span>
                                    </div>
                                </div>
                                <else/>
                                <input type="radio" name="form[<{$key}>][choose]" rel="link" value="1" class="choose">视频链接
                                <input type="radio" name="form[<{$key}>][choose]" rel="up" value="2" class="choose" checked="checked">本地上传
                                <div class="col-sm-9" style="margin-top: 10px;display: none;">
                                    <textarea name="form[<{$key}>][link]" style="width: 100%;height: 60px;border: 1px solid #e5e6e7;" ></textarea>
                                </div>
                                <div class="col-sm-9" style="margin-top: 10px;">
                                    <input type="hidden" name="form[<{$key}>][up]" id="form_<{$key}>">
                                    <input type="file" id="upload_img_<{$key}>" name="res" multiple />
                                    <div id="content_picts_preview_<{$key}>" style="">
                                        <span><{$item.video_link}></span>
                                    </div>
                                </div>
                            </if>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">发布到：</label>
                            <div class="col-sm-10">
                                <foreach name="item.language" item="lItem" key="k">
                                    <switch name="lItem.state" >
                                        <case value="2">
                                            <label class="checkbox-inline"><input type="checkbox" checked name="form[<{$key}>][language][]" value="<{$lItem.value}>" ><{$lItem.name}></label>
                                        </case>
                                        <case value="1">
                                            <label class="checkbox-inline"><input type="checkbox" name="form[<{$key}>][language][]" value="<{$lItem.value}>" ><{$lItem.name}></label>
                                        </case>
                                        <default />
                                        <label class="checkbox-inline" style="display: none;"><input type="checkbox" disabled name="form[<{$key}>][language][]" value="<{$lItem.value}>" ><{$lItem.name}></label>
                                    </switch>
                                </foreach>
                            </div>
                        </div>
                    </div>
                    </form>
                </volist>

                <div style="margin-top: 10px;" class="form-group">
                    <div class="col-sm-3 " style="float: right;">
                        <button onclick="editSubmit(<{$Think.get.groupId}>)" class="btn btn-primary ajax-post" type="submit">提交</button>
                        <a class="btn btn-primary" href="<{:U('Video/index')}>">取消</a>
                    </div>
                </div>
                <a id="add-btn" href="javascript:addOne(this)" class="btn btn-primary btn-outline">向下添加一种语言</a>
                <a id="del-btn" href="javascript:delOne(this)" class="btn btn-primary btn-outline">移除上一种语言</a>



            </div>
        </div>
    </div>

</div>

<!-- head的闭合 -->
</div>
</div>
</div>
<!-- head的闭合 -->
<script type="text/javascript">
    //  var ue = UE.getEditor('editor');
    //  ue.ready(function() {
    //      ue.setContent('<{$info.news_content}>');
    //  });
</script>

<!-- head的闭合 -->
<script type="text/javascript">
    $(function () {
        /**
         * 复选框添加点击事件，同时对七组的语言复选框生效
         * 可以防止同一种语言重复的问题
         */
        $('input:checkbox').click(function(){
            var thisCheck = this.checked;
            var thisVal = $(this).val();
            if (thisCheck) {
                $('input:checkbox[value="'+thisVal+'"]').attr('disabled','disabled').parent().hide();//先将所有的禁用并隐藏
                $(this).removeAttr('disabled').parent().show();//再将当前这个复选框解除禁用并显示
            } else {
                $('input:checkbox[value="'+thisVal+'"]').removeAttr('disabled').parent().show();//显示所有的语言复选框
            }
        });

        //视频相关js
        $(".choose").click(function(){
            var rel = $(this).attr('rel');
            if(rel == 'link'){
                $(this).next().next().show();
                $(this).next().next().next().hide();
            }else{
                $(this).next().next().show();
                $(this).next().hide();
            }
        })

        //上传视频--1
        var str = '<{$phpsessid}>';
        $('#upload_img_0').uploadify({
            'formData' : {'str':str},
            'width'         : 150,
            'buttonText'    : '选择视频',
            'swf'           : '__JS__/uploadify/uploadify.swf',
            'uploader'      : '<{:U("Video/uploadVideo")}>',
            'auto'          : true,
            'multi'         : true,
            'removeCompleted':true,
            'cancelImg'     : '__ASSET__/images/uploadify-cancel.png',
            'fileTypeExts'  : '*.mp4',
//            'fileSizeLimit' : '2MB',
            'onUploadStart' : function(file) {
                console.log(str);
                $("#upload_img_0").uploadify("settings", "formData", {'str':str });
            },
            'onUploadSuccess':function(file,data,response){
                var info = jQuery.parseJSON(data);
                console.log(info);
                $("#form_0").val(info.videoURL);
                $("#content_picts_preview_0").text(info.videoURL + '上传成功');
                $("#content_picts_preview_0").css('display','');
            },
            'onComplete' : function(event, ID, fileObj, response, data) {
                alert(response);
            },
            'overrideEvents': ['onSelectError', 'onUploadError','onDialogClose'],
            'onUploadError': function (file, errorCode, errorMsg, errorString) {
                // 手工取消不弹出提示
                if (errorCode == SWFUpload.UPLOAD_ERROR.FILE_CANCELLED
                        || errorCode == SWFUpload.UPLOAD_ERROR.UPLOAD_STOPPED) {
                    return;
                }
                var msgText = "上传失败\n";
                switch (errorCode) {
                    case SWFUpload.UPLOAD_ERROR.HTTP_ERROR:
                        msgText += "HTTP 错误\n" + errorMsg;
                        break;
                    case SWFUpload.UPLOAD_ERROR.MISSING_UPLOAD_URL:
                        msgText += "上传文件丢失，请重新上传";
                        break;
                    case SWFUpload.UPLOAD_ERROR.IO_ERROR:
                        msgText += "IO错误";
                        break;
                    case SWFUpload.UPLOAD_ERROR.SECURITY_ERROR:
                        msgText += "安全性错误\n" + errorMsg;
                        break;
                    case SWFUpload.UPLOAD_ERROR.UPLOAD_LIMIT_EXCEEDED:
                        msgText += "每次最多上传 " + this.settings.uploadLimit + "个";
                        break;
                    case SWFUpload.UPLOAD_ERROR.UPLOAD_FAILED:
                        msgText += errorMsg;
                        break;
                    case SWFUpload.UPLOAD_ERROR.SPECIFIED_FILE_ID_NOT_FOUND:
                        msgText += "找不到指定文件，请重新操作";
                        break;
                    case SWFUpload.UPLOAD_ERROR.FILE_VALIDATION_FAILED:
                        msgText += "参数错误";
                        break;
                    default:
                        msgText += "文件:" + file.name + "\n错误码:" + errorCode + "\n"
                                + errorMsg + "\n" + errorString;
                }
                bootbox.alert({
                    message: msgText,
                    buttons: {
                        ok: {
                            label: " 确 定 ",
                            className: "btn-primary btn-sm",
                        }
                    }
                });
            }
        });
        //2
        $('#upload_img_1').uploadify({
            'formData' : {'str':str},
            'width'         : 150,
            'buttonText'    : '选择视频',
            'swf'           : '__JS__/uploadify/uploadify.swf',
            'uploader'      : '<{:U("Video/uploadVideo")}>',
            'auto'          : true,
            'multi'         : true,
            'removeCompleted':true,
            'cancelImg'     : '__ASSET__/images/uploadify-cancel.png',
            'fileTypeExts'  : '*.mp4',
//            'fileSizeLimit' : '2MB',
            'onUploadStart' : function(file) {
                $("#upload_img_1").uploadify("settings", "formData", {'str':str });
            },
            'onUploadSuccess':function(file,data,response){
                var info = jQuery.parseJSON(data);
                $("#form_1").val(info.videoURL);
                $("#content_picts_preview_1").text(info.videoURL + '上传成功');
                $("#content_picts_preview_1").css('display','');
            },
            'onComplete' : function(event, ID, fileObj, response, data) {
                alert(response);
            },
            'overrideEvents': ['onSelectError', 'onUploadError','onDialogClose'],
            'onUploadError': function (file, errorCode, errorMsg, errorString) {
                // 手工取消不弹出提示
                if (errorCode == SWFUpload.UPLOAD_ERROR.FILE_CANCELLED
                        || errorCode == SWFUpload.UPLOAD_ERROR.UPLOAD_STOPPED) {
                    return;
                }
                var msgText = "上传失败\n";
                switch (errorCode) {
                    case SWFUpload.UPLOAD_ERROR.HTTP_ERROR:
                        msgText += "HTTP 错误\n" + errorMsg;
                        break;
                    case SWFUpload.UPLOAD_ERROR.MISSING_UPLOAD_URL:
                        msgText += "上传文件丢失，请重新上传";
                        break;
                    case SWFUpload.UPLOAD_ERROR.IO_ERROR:
                        msgText += "IO错误";
                        break;
                    case SWFUpload.UPLOAD_ERROR.SECURITY_ERROR:
                        msgText += "安全性错误\n" + errorMsg;
                        break;
                    case SWFUpload.UPLOAD_ERROR.UPLOAD_LIMIT_EXCEEDED:
                        msgText += "每次最多上传 " + this.settings.uploadLimit + "个";
                        break;
                    case SWFUpload.UPLOAD_ERROR.UPLOAD_FAILED:
                        msgText += errorMsg;
                        break;
                    case SWFUpload.UPLOAD_ERROR.SPECIFIED_FILE_ID_NOT_FOUND:
                        msgText += "找不到指定文件，请重新操作";
                        break;
                    case SWFUpload.UPLOAD_ERROR.FILE_VALIDATION_FAILED:
                        msgText += "参数错误";
                        break;
                    default:
                        msgText += "文件:" + file.name + "\n错误码:" + errorCode + "\n"
                                + errorMsg + "\n" + errorString;
                }
                bootbox.alert({
                    message: msgText,
                    buttons: {
                        ok: {
                            label: " 确 定 ",
                            className: "btn-primary btn-sm",
                        }
                    }
                });
            }
        });
        // 3
        $('#upload_img_2').uploadify({
            'formData' : {'str':str},
            'width'         : 150,
            'buttonText'    : '选择视频',
            'swf'           : '__JS__/uploadify/uploadify.swf',
            'uploader'      : '<{:U("Video/uploadVideo")}>',
            'auto'          : true,
            'multi'         : true,
            'removeCompleted':true,
            'cancelImg'     : '__ASSET__/images/uploadify-cancel.png',
            'fileTypeExts'  : '*.mp4',
//            'fileSizeLimit' : '2MB',
            'onUploadStart' : function(file) {
                $("#upload_img_2").uploadify("settings", "formData", {'str':str });
            },
            'onUploadSuccess':function(file,data,response){
                var info = jQuery.parseJSON(data);
                $("#form_2").val(info.videoURL);
                $("#content_picts_preview_2").text(info.videoURL + '上传成功');
                $("#content_picts_preview_2").css('display','');
            },
            'onComplete' : function(event, ID, fileObj, response, data) {
                alert(response);
            },
            'overrideEvents': ['onSelectError', 'onUploadError','onDialogClose'],
            'onUploadError': function (file, errorCode, errorMsg, errorString) {
                // 手工取消不弹出提示
                if (errorCode == SWFUpload.UPLOAD_ERROR.FILE_CANCELLED
                        || errorCode == SWFUpload.UPLOAD_ERROR.UPLOAD_STOPPED) {
                    return;
                }
                var msgText = "上传失败\n";
                switch (errorCode) {
                    case SWFUpload.UPLOAD_ERROR.HTTP_ERROR:
                        msgText += "HTTP 错误\n" + errorMsg;
                        break;
                    case SWFUpload.UPLOAD_ERROR.MISSING_UPLOAD_URL:
                        msgText += "上传文件丢失，请重新上传";
                        break;
                    case SWFUpload.UPLOAD_ERROR.IO_ERROR:
                        msgText += "IO错误";
                        break;
                    case SWFUpload.UPLOAD_ERROR.SECURITY_ERROR:
                        msgText += "安全性错误\n" + errorMsg;
                        break;
                    case SWFUpload.UPLOAD_ERROR.UPLOAD_LIMIT_EXCEEDED:
                        msgText += "每次最多上传 " + this.settings.uploadLimit + "个";
                        break;
                    case SWFUpload.UPLOAD_ERROR.UPLOAD_FAILED:
                        msgText += errorMsg;
                        break;
                    case SWFUpload.UPLOAD_ERROR.SPECIFIED_FILE_ID_NOT_FOUND:
                        msgText += "找不到指定文件，请重新操作";
                        break;
                    case SWFUpload.UPLOAD_ERROR.FILE_VALIDATION_FAILED:
                        msgText += "参数错误";
                        break;
                    default:
                        msgText += "文件:" + file.name + "\n错误码:" + errorCode + "\n"
                                + errorMsg + "\n" + errorString;
                }
                bootbox.alert({
                    message: msgText,
                    buttons: {
                        ok: {
                            label: " 确 定 ",
                            className: "btn-primary btn-sm",
                        }
                    }
                });
            }
        });
        // 4
        $('#upload_img_3').uploadify({
            'formData' : {'str':str},
            'width'         : 150,
            'buttonText'    : '选择视频',
            'swf'           : '__JS__/uploadify/uploadify.swf',
            'uploader'      : '<{:U("Video/uploadVideo")}>',
            'auto'          : true,
            'multi'         : true,
            'removeCompleted':true,
            'cancelImg'     : '__ASSET__/images/uploadify-cancel.png',
            'fileTypeExts'  : '*.mp4',
//            'fileSizeLimit' : '2MB',
            'onUploadStart' : function(file) {
                $("#upload_img_3").uploadify("settings", "formData", {'str':str });
            },
            'onUploadSuccess':function(file,data,response){
                var info = jQuery.parseJSON(data);
                $("#form_3").val(info.videoURL);
                $("#content_picts_preview_3").text(info.videoURL + '上传成功');
                $("#content_picts_preview_3").css('display','');
            },
            'onComplete' : function(event, ID, fileObj, response, data) {
                alert(response);
            },
            'overrideEvents': ['onSelectError', 'onUploadError','onDialogClose'],
            'onUploadError': function (file, errorCode, errorMsg, errorString) {
                // 手工取消不弹出提示
                if (errorCode == SWFUpload.UPLOAD_ERROR.FILE_CANCELLED
                        || errorCode == SWFUpload.UPLOAD_ERROR.UPLOAD_STOPPED) {
                    return;
                }
                var msgText = "上传失败\n";
                switch (errorCode) {
                    case SWFUpload.UPLOAD_ERROR.HTTP_ERROR:
                        msgText += "HTTP 错误\n" + errorMsg;
                        break;
                    case SWFUpload.UPLOAD_ERROR.MISSING_UPLOAD_URL:
                        msgText += "上传文件丢失，请重新上传";
                        break;
                    case SWFUpload.UPLOAD_ERROR.IO_ERROR:
                        msgText += "IO错误";
                        break;
                    case SWFUpload.UPLOAD_ERROR.SECURITY_ERROR:
                        msgText += "安全性错误\n" + errorMsg;
                        break;
                    case SWFUpload.UPLOAD_ERROR.UPLOAD_LIMIT_EXCEEDED:
                        msgText += "每次最多上传 " + this.settings.uploadLimit + "个";
                        break;
                    case SWFUpload.UPLOAD_ERROR.UPLOAD_FAILED:
                        msgText += errorMsg;
                        break;
                    case SWFUpload.UPLOAD_ERROR.SPECIFIED_FILE_ID_NOT_FOUND:
                        msgText += "找不到指定文件，请重新操作";
                        break;
                    case SWFUpload.UPLOAD_ERROR.FILE_VALIDATION_FAILED:
                        msgText += "参数错误";
                        break;
                    default:
                        msgText += "文件:" + file.name + "\n错误码:" + errorCode + "\n"
                                + errorMsg + "\n" + errorString;
                }
                bootbox.alert({
                    message: msgText,
                    buttons: {
                        ok: {
                            label: " 确 定 ",
                            className: "btn-primary btn-sm",
                        }
                    }
                });
            }
        });
        //5
        $('#upload_img_4').uploadify({
            'formData' : {'str':str},
            'width'         : 150,
            'buttonText'    : '选择视频',
            'swf'           : '__JS__/uploadify/uploadify.swf',
            'uploader'      : '<{:U("Video/uploadVideo")}>',
            'auto'          : true,
            'multi'         : true,
            'removeCompleted':true,
            'cancelImg'     : '__ASSET__/images/uploadify-cancel.png',
            'fileTypeExts'  : '*.mp4',
//            'fileSizeLimit' : '2MB',
            'onUploadStart' : function(file) {
                $("#upload_img_4").uploadify("settings", "formData", {'str':str });
            },
            'onUploadSuccess':function(file,data,response){
                var info = jQuery.parseJSON(data);
                $("#form_4").val(info.videoURL);
                $("#content_picts_preview_4").text(info.videoURL + '上传成功');
                $("#content_picts_preview_4").css('display','');
            },
            'onComplete' : function(event, ID, fileObj, response, data) {
                alert(response);
            },
            'overrideEvents': ['onSelectError', 'onUploadError','onDialogClose'],
            'onUploadError': function (file, errorCode, errorMsg, errorString) {
                // 手工取消不弹出提示
                if (errorCode == SWFUpload.UPLOAD_ERROR.FILE_CANCELLED
                        || errorCode == SWFUpload.UPLOAD_ERROR.UPLOAD_STOPPED) {
                    return;
                }
                var msgText = "上传失败\n";
                switch (errorCode) {
                    case SWFUpload.UPLOAD_ERROR.HTTP_ERROR:
                        msgText += "HTTP 错误\n" + errorMsg;
                        break;
                    case SWFUpload.UPLOAD_ERROR.MISSING_UPLOAD_URL:
                        msgText += "上传文件丢失，请重新上传";
                        break;
                    case SWFUpload.UPLOAD_ERROR.IO_ERROR:
                        msgText += "IO错误";
                        break;
                    case SWFUpload.UPLOAD_ERROR.SECURITY_ERROR:
                        msgText += "安全性错误\n" + errorMsg;
                        break;
                    case SWFUpload.UPLOAD_ERROR.UPLOAD_LIMIT_EXCEEDED:
                        msgText += "每次最多上传 " + this.settings.uploadLimit + "个";
                        break;
                    case SWFUpload.UPLOAD_ERROR.UPLOAD_FAILED:
                        msgText += errorMsg;
                        break;
                    case SWFUpload.UPLOAD_ERROR.SPECIFIED_FILE_ID_NOT_FOUND:
                        msgText += "找不到指定文件，请重新操作";
                        break;
                    case SWFUpload.UPLOAD_ERROR.FILE_VALIDATION_FAILED:
                        msgText += "参数错误";
                        break;
                    default:
                        msgText += "文件:" + file.name + "\n错误码:" + errorCode + "\n"
                                + errorMsg + "\n" + errorString;
                }
                bootbox.alert({
                    message: msgText,
                    buttons: {
                        ok: {
                            label: " 确 定 ",
                            className: "btn-primary btn-sm",
                        }
                    }
                });
            }
        });
        //6
        $('#upload_img_5').uploadify({
            'formData' : {'str':str},
            'width'         : 150,
            'buttonText'    : '选择视频',
            'swf'           : '__JS__/uploadify/uploadify.swf',
            'uploader'      : '<{:U("Video/uploadVideo")}>',
            'auto'          : true,
            'multi'         : true,
            'removeCompleted':true,
            'cancelImg'     : '__ASSET__/images/uploadify-cancel.png',
            'fileTypeExts'  : '*.mp4',
//            'fileSizeLimit' : '2MB',
            'onUploadStart' : function(file) {
                $("#upload_img_5").uploadify("settings", "formData", {'str':str });
            },
            'onUploadSuccess':function(file,data,response){
                var info = jQuery.parseJSON(data);
                $("#form_5").val(info.videoURL);
                $("#content_picts_preview_5").text(info.videoURL + '上传成功');
                $("#content_picts_preview_5").css('display','');
            },
            'onComplete' : function(event, ID, fileObj, response, data) {
                alert(response);
            },
            'overrideEvents': ['onSelectError', 'onUploadError','onDialogClose'],
            'onUploadError': function (file, errorCode, errorMsg, errorString) {
                // 手工取消不弹出提示
                if (errorCode == SWFUpload.UPLOAD_ERROR.FILE_CANCELLED
                        || errorCode == SWFUpload.UPLOAD_ERROR.UPLOAD_STOPPED) {
                    return;
                }
                var msgText = "上传失败\n";
                switch (errorCode) {
                    case SWFUpload.UPLOAD_ERROR.HTTP_ERROR:
                        msgText += "HTTP 错误\n" + errorMsg;
                        break;
                    case SWFUpload.UPLOAD_ERROR.MISSING_UPLOAD_URL:
                        msgText += "上传文件丢失，请重新上传";
                        break;
                    case SWFUpload.UPLOAD_ERROR.IO_ERROR:
                        msgText += "IO错误";
                        break;
                    case SWFUpload.UPLOAD_ERROR.SECURITY_ERROR:
                        msgText += "安全性错误\n" + errorMsg;
                        break;
                    case SWFUpload.UPLOAD_ERROR.UPLOAD_LIMIT_EXCEEDED:
                        msgText += "每次最多上传 " + this.settings.uploadLimit + "个";
                        break;
                    case SWFUpload.UPLOAD_ERROR.UPLOAD_FAILED:
                        msgText += errorMsg;
                        break;
                    case SWFUpload.UPLOAD_ERROR.SPECIFIED_FILE_ID_NOT_FOUND:
                        msgText += "找不到指定文件，请重新操作";
                        break;
                    case SWFUpload.UPLOAD_ERROR.FILE_VALIDATION_FAILED:
                        msgText += "参数错误";
                        break;
                    default:
                        msgText += "文件:" + file.name + "\n错误码:" + errorCode + "\n"
                                + errorMsg + "\n" + errorString;
                }
                bootbox.alert({
                    message: msgText,
                    buttons: {
                        ok: {
                            label: " 确 定 ",
                            className: "btn-primary btn-sm",
                        }
                    }
                });
            }
        });
        //7
        $('#upload_img_6').uploadify({
            'formData' : {'str':str},
            'width'         : 150,
            'buttonText'    : '选择视频',
            'swf'           : '__JS__/uploadify/uploadify.swf',
            'uploader'      : '<{:U("Video/uploadVideo")}>',
            'auto'          : true,
            'multi'         : true,
            'removeCompleted':true,
            'cancelImg'     : '__ASSET__/images/uploadify-cancel.png',
            'fileTypeExts'  : '*.mp4',
//            'fileSizeLimit' : '2MB',
            'onUploadStart' : function(file) {
                $("#upload_img_6").uploadify("settings", "formData", {'str':str });
            },
            'onUploadSuccess':function(file,data,response){
                var info = jQuery.parseJSON(data);
                $("#form_6").val(info.videoURL);
                $("#content_picts_preview_6").text(info.videoURL + '上传成功');
                $("#content_picts_preview_6").css('display','');
            },
            'onComplete' : function(event, ID, fileObj, response, data) {
                alert(response);
            },
            'overrideEvents': ['onSelectError', 'onUploadError','onDialogClose'],
            'onUploadError': function (file, errorCode, errorMsg, errorString) {
                // 手工取消不弹出提示
                if (errorCode == SWFUpload.UPLOAD_ERROR.FILE_CANCELLED
                        || errorCode == SWFUpload.UPLOAD_ERROR.UPLOAD_STOPPED) {
                    return;
                }
                var msgText = "上传失败\n";
                switch (errorCode) {
                    case SWFUpload.UPLOAD_ERROR.HTTP_ERROR:
                        msgText += "HTTP 错误\n" + errorMsg;
                        break;
                    case SWFUpload.UPLOAD_ERROR.MISSING_UPLOAD_URL:
                        msgText += "上传文件丢失，请重新上传";
                        break;
                    case SWFUpload.UPLOAD_ERROR.IO_ERROR:
                        msgText += "IO错误";
                        break;
                    case SWFUpload.UPLOAD_ERROR.SECURITY_ERROR:
                        msgText += "安全性错误\n" + errorMsg;
                        break;
                    case SWFUpload.UPLOAD_ERROR.UPLOAD_LIMIT_EXCEEDED:
                        msgText += "每次最多上传 " + this.settings.uploadLimit + "个";
                        break;
                    case SWFUpload.UPLOAD_ERROR.UPLOAD_FAILED:
                        msgText += errorMsg;
                        break;
                    case SWFUpload.UPLOAD_ERROR.SPECIFIED_FILE_ID_NOT_FOUND:
                        msgText += "找不到指定文件，请重新操作";
                        break;
                    case SWFUpload.UPLOAD_ERROR.FILE_VALIDATION_FAILED:
                        msgText += "参数错误";
                        break;
                    default:
                        msgText += "文件:" + file.name + "\n错误码:" + errorCode + "\n"
                                + errorMsg + "\n" + errorString;
                }
                bootbox.alert({
                    message: msgText,
                    buttons: {
                        ok: {
                            label: " 确 定 ",
                            className: "btn-primary btn-sm",
                        }
                    }
                });
            }
        });
    });

    var curr = 1;
//    function addOne(_this){
//        //如果已经选择了七种语言，则不让继续添加
//        if ($('input:checkbox:checked').length >= 7) {
//            alert('您已选择了7种语言');
//            return;
//        }
//        //已经有7组处于显示状态则不让继续添加
//        if (curr >= 7) {
//            alert('您已经添加了7组输入框');
//            return;
//        }
//        $('.content-form').eq(curr).show();
//        curr++;
//    }
//    function delOne(_this){
//        if (curr <= 1) {
//            alert('只剩一组输入框，禁止删除');
//            return;
//        }
//        $('.content-form').eq(curr-1).hide();
//        curr--;
//    }
    function addOne(_this){
        //如果已经选择了七种语言，则不让继续添加
        if ($('input:checkbox:checked').length >= 7) {
            bootbox.alert({
                message: '您已选择了7种语言',
                buttons: {
                    ok: {
                        label: " 确 定 ",
                        className: "btn-primary btn-sm",
                    }
                }
            });
            return;
        }
        //已经有7组处于显示状态则不让继续添加
        if (curr >= 7) {
            bootbox.alert({
                message: '您已经添加了7组输入框',
                buttons: {
                    ok: {
                        label: " 确 定 ",
                        className: "btn-primary btn-sm",
                    }
                }
            });
            return;
        }
        $('.content-form').eq(curr).show();
        curr++;
    }
    function delOne(_this){
        if (curr <= 1) {
            bootbox.alert({
                message: '只剩一组输入框，禁止删除',
                buttons: {
                    ok: {
                        label: " 确 定 ",
                        className: "btn-primary btn-sm",
                    }
                }
            });
            return;
        }
        $('.content-form').eq(curr-1).hide();
        $('.content-form').eq(curr-1).find('input:checkbox').each(function(i,e){//如果当前删除的表单中含有复选框处于选中状态，则移除选中状态
            var eCheck = e.checked;
            var eValue = e.value;
            if (eCheck) {
                $('input:checkbox[value="'+eValue+'"]').removeAttr('disabled').parent().show();
            }
        });
        curr--;
    }


    function editSubmit(groupId){
        var postData = '';
        var flag = false;//是否继续执行该方法的标识，如果下列循环中有一种不符合条件，则不提交后台
        $('.content-form:visible').each(function(i,e){//只获取处于显示状态的form表单
            var langVal = $(e).find("input:checkbox:checked").length;//当前这个form表单选择发布语言的数量
            var titleVal = $(e).find(".input-title").val();//当前这个form表单的标题值
            if (!titleVal) {
                bootbox.alert({
                    message: '第'+(i+1)+'组标题为空，请填写后再提交',
                    buttons: {
                        ok: {
                            label: " 确 定 ",
                            className: "btn-primary btn-sm",
                        }
                    }
                });
                flag = true;
                return false;
            }
            if (langVal == 0) {
                bootbox.alert({
                    message: '第'+(i+1)+'组未选择语言，请选择后再提交',
                    buttons: {
                        ok: {
                            label: " 确 定 ",
                            className: "btn-primary btn-sm",
                        }
                    }
                });
                flag = true;
                return false;
            }
            postData += $(e).serialize() + "&";//将序列化后的值拼到一起
        });

        if (flag) {
            return;
        }
        postData += "&groupId="+groupId;

        $.post('<{:U("Video/edit")}>',postData,function(result){
//            console.log(result);
////            alert(result.info);
            location.href = result.url;
        });
    }

</script>

</body>

</html>
