<include file="Public/header" />   
<div class="forth-div">
    <div>
        <a><{:L('首页')}></a>
        <span>·</span>
        <a><{:L('关于我们')}></a>
        <span>·</span>
        <a><{:L('历史沿革')}></a>
    </div>
</div>

<div id="templatemo_wrapper">

    <div id="templatemo_main_content">
    	<div id="templatemo_sidebar">
            <div class="sidebar_content_box" style="height:100px;">
                <h3 style="text-align:center;margin-top:20px;color:red;font-weight:bold;"><{:L('关于我们')}></h3>
                <h5 style="text-align:center;margin-top:10px;color:#35bf35;">ABOUT US</h5>
            </div>
            <div class="sidebar_content_box" style="background:#fff;padding:0;">
                <ul  style="padding:0;">
                    <li class="mouseover-li left-sub-menu-hover"><a class="left-sub-menu-a-hover" href="<{:U('About/index')}>" ><{:L('历史沿革')}></a></li>
                    <li class="mouseover-li left-sub-menu"><a class="left-sub-menu-a" href="<{:U('About/intro')}>" ><{:L('公司简介')}></a></li>
                    <li class="mouseover-li left-sub-menu"><a class="left-sub-menu-a" href="<{:U('About/honor')}>" ><{:L('企业荣誉')}></a></li>
                </ul>
            </div>

        </div>


        <div id="templatemo_content">
     
            <div class="sidebar_content_boxx" style="height:100px;">
                <h3 class="h3-content"><{:L('历史沿革')}></h3>
            </div>
            <div class="news_container">
                <foreach name="_list" item="item">
                    <div class="news-container-div">
                        <img class="news-image" src="<{$item.img}>" alt="" width="180" height="130"/>
                        <div class="news-content">
                            <div class="news-title">
                                <span class="news-title-year"><{$item.news_time}></span>
                                <span class="news-title-text"><{$item.news_title}></span>
                            </div>
                            <div class="new-line-gray"></div>
                            <div class="new-line-red"></div>
                            <div class="news-content-text">
                                <{$item.news_content}>
                            </div>
                        </div>
                    </div>
                </foreach>

                <div id="page" style="margin-top: 10px;">
                    <{$page}>
                </div>
            </div>


        </div>
        <div class="clear"></div>
    </div> <!-- END of templatemo_main_content -->

</div> <!-- END of templatemo_wrapper -->
<include file="Public/footer" />